* {
    margin: 0;
    padding: 0;
}

body {
    font: 20px "Arial";
    background-color: rgb(3, 3, 31);
}

.title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 60px;
    border: 1px black solid;
}

.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 200%;
}

.parallax_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.parallax_layer-deepbg {
    transform: translateZ(-3px) scale(4);
    background-color: rgb(22, 0, 119)
}

.parallax_layer-back {
    transform: translateZ(-1px) scale(2);
}

.parallax_layer-base {
    transform: translateZ(0);
}

.parallax_group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}

.firstgroup {
    z-index: 3;
}

.almostmiddlegroup {
    z-index: 2;
}

.middlegroup {
    z-index: 4;
}

.almostlast {
    background-color: transparent;
    z-index: 3;
}

.last {
    background-color: royalblue;
    z-index: 3;
}

#midbase {
    background-color: rgb(2, 141, 2);
}

#b3 {
    background-color: rgb(134, 132, 0);
}

#s11, #s13, #s15 {
    padding: 60px;
    border: 1px solid black;
    background-color: gold;
}

#s12, #s14 {
    padding: 60px;
    border: 1px solid black;
}

#s21, #s22 {
    padding: 80px;
    border: 1px solid black;
    background-color: maroon;
}

#s31 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(29, 29, 29);
}

.perv#s11, .perv#s13, .perv#s15 {
    animation: slideinright 1.5s;
}

.perv#s12, .perv#s14 {
    animation: slideinleft 1.5s;
}

.vtor {
    animation: increaseinsize_andappear 2s ease-out;

}

@keyframes slideinright {
    0% {
      margin-left: 100%;
    }
  
    100% {
      margin-left: 0%;
    }
}

@keyframes slideinleft {
    0% {
        margin-left: -100%;
      }
    
      100% {
        margin-left: 0%;
      }
}

@keyframes increaseinsize_andappear {
    0% {
       padding: 0;
       opacity: 0;
    }

    100% {
        padding: 80px;
        opacity: 1;
    }
}
